@import '~bulma/bulma.sass';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

.card {
  height: 100%;
  display:flex;
  flex-direction: column;
}
.card-content {
  margin-top: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

$yellow: #fbcb46;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $yellow;
$box-padding: 1rem;