@import '~bulma/bulma.sass';

 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Londrina Solid', cursive;
  letter-spacing: 2px;
}

.map-container {
  width: 100vw;
  height: 100vh;
}

.card {
  height: 100%;
  display:flex;
  flex-direction: column;
}
.card-content {
  margin-top: auto;
}

.logo-emoji {
  margin: 0 10px;
}

.form-link {
  margin-left: 3px;
}

span.logout {
  cursor: pointer;
}

section.section {
  min-height: calc(100vh - 11.25rem);
}

$yellow: #a5a197;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $yellow;
$box-padding: 1rem;

.background{
  width: 100vw;
  height: 100vh;
}

#home-picture {
  border-radius: 3rem;
  // opacity: 70%;
  height: 35%;
  width: 35%;
  margin-top: 1rem;
}

#items-info {
  overflow: auto;
  height: 200px;
  width: 100%;
}

#zoom-in {
  animation-duration: .3s;
  animation-name: #{zoom-in};
}
@keyframes zoom-in {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}